.company-image {
  height: 70px;
  width: 60px;
  margin-right: 15px;
  /* padding-top: 20px; */
}
.list-items {
  color: #ffffffff;
  background-color: #272727;
  padding: 20px;
  margin-top: 10px;
  border-radius: 10px;
  font-family: 'Roboto';
  /* border: solid 1px green; */
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .list-items {
    width: 100%;
    margin-left: 10px;
  }
}
.top-one {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* border: solid 1px green; */
}
.second-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.tittle {
  line-height: 1;
  font-weight: 500;
  margin-bottom: 0;
}
.ratings {
  padding-left: 5px;
}
.star {
  color: #fbbf24;
}
.rating-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* border: solid 1px gainsboro;
  width: 50px; */
}
.location-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.location-text {
  padding-left: 6px;
}
.margin {
  margin-right: 15px;
}
.bottom {
  display: flex;
  justify-content: space-between;
}
.bottom1 {
  display: flex;
  flex-direction: row;
}
.hr-line1 {
  border-style: solid;
  border-width: 1px;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  border-color: #7e858e;
}
.desc {
  font-size: 16px;
  font-family: 'Roboto';
  line-height: 1;
  color: #ffffff;
  font-family: 'Roboto';
}
.job-description {
  color: #f1f5f9;
  margin-top: 0;
  font-family: 'Roboto';
}
.link-item {
  text-decoration: none;
  color: #f1f5f9;
  cursor: pointer;
  outline: none;
}
